name: Build

on:
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Get dependencies å’Œ build
      run: |
        yarn install
        yarn build

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/
