name: 构建并保存 x86 Docker 镜像

on:
  workflow_dispatch:
    
jobs:
  build-and-save:
    runs-on: ubuntu-latest

    steps:
    - name: 检出代码
      uses: actions/checkout@v2

    - name: 设置 Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: 构建 Docker 镜像
      id: build-image
      run: |
        docker build --platform linux/amd64 -t careywong/subweb:latest .
        docker images

    - name: 保存 Docker 镜像为 tar 包
      run: |
        docker save careywong/subweb:latest -o subweb_latest.tar
        ls -lh subweb_latest.tar

    - name: 上传 Docker 镜像到 GitHub Releases
      uses: ncipollo/release-action@v1
      with:
        artifacts: subweb_latest.tar
        tag: v1.0.0  # 使用一个有效的版本号标签，替换掉 Git commit 的 SHA
        name: subweb_latest.tar
        generateReleaseNotes: false
        makeLatest: true
